PORT=3000
JWT_SECRET=1234

DB_HOST=127.0.0.1
DB_PORT=1234
DB_USER=postgre
DB_PASSWORD=1234
DB_DATABASE=taskmanager
DB_DATABASE_TEST=taskmanager_test

GOOGLE_CLIENT_ID=xxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx